#analyst .analyst-topbar {
  background-color: #ffef5b;
  min-height: 3px;
}

h1.analyst-main-title {
  font-size: 4.5em;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
  color: white;
}

h2.analyst-main-sub-title {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 3em;
  font-weight: 300;
  color: white;
}

.section-head {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-size: 3em;
  font-weight: 300;
}

#analyst p {
  font-size: 1.5em;
  font-weight: 300;
  color: #555;
}

#analyst blockquote {
  font-size: 1.5em;
  font-weight: 500;
  color: #777;
}

#analyst .quote-attribution {
  text-align: left;
  display: block;
}

#analyst .content-container {
  max-width: 800px;
}

#analyst .performance-row {
  padding-top: 1.5em;
  padding-bottom: 4em;
}

#analyst .analysis-row {
  padding-top: 1.5em;
  background-color: #ffefb1; /* #dfdfdf; */
  padding-bottom: 4em;
}

#analyst .analysis-container {
  max-width: 960px;
}

#analyst .analyst-main {
  background-color: #0e6170;
  color: white;
  padding-bottom: 3em;
}

#analyst .analyst-main p {
  color: #eee;
  margin-bottom: 1.5em;
}

#analyst .analyst-cta-row {
  background-color: #0096b2;
  min-height: 5em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
}

#analyst .analyst-cta-row h2 {
  font-size: 2.5em;
  padding-top: 0.8em;
  margin-top: 0;
  color: white;
}

#analyst .analyst-cta {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#analyst .analyst-cta-button, #mc-embedded-subscribe {
  padding: 0.6em 1.2em 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: bold;
  background-color: #b21b5c !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b21b5c", endColorstr="#b21b5c");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#b21b5c), to(#b21b5c));
  background-image: -moz-linear-gradient(top, #b21b5c, #b21b5c);
  background-image: -ms-linear-gradient(top, #b21b5c, #b21b5c);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b21b5c), color-stop(100%, #b21b5c));
  background-image: -webkit-linear-gradient(top, #b21b5c, #b21b5c);
  background-image: -o-linear-gradient(top, #b21b5c, #b21b5c);
  background-image: linear-gradient(#b21b5c, #b21b5c);
  border-color: #b21b5c #b21b5c;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
  border-radius: 0.3em;
}

#mc_embed_signup .button {
  font-size: 1.5em;
  font-weight: 400;
}

#analyst .analyst-cta-button:hover {
  text-decoration: none;
  font-weight: bold;
}

#mc_embed_signup {
  border-radius: 0.5em;
}

#mc_embed_signup .mc-field-group {
  font-size: 1.2em;
}

#analyst .analyst-cta p {
  text-align: center;
}

#analyst .analyst-name {
  font-size: 1.1em;
  font-weight: bold;
}

#analyst .analyst-summary {
  color: white;
  font-size: 1.2em;
  font-style: normal;
  font-weight: bold;
}

#analyst .analyst-tagline {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  display: block;
}

#analyst .analyst-em {
  font-style: italic;
  font-weight: 500;
}

#analyst .analyst-extra-em {
  font-style: italic;
  font-weight: bold;
}

#analyst .metrics-row {
  padding-top: 1.5em;
  padding-bottom: 3em;
}

#analyst .exception-notification-row {
  background-color: #5e5f5e;
  padding-top: 4em;
  padding-bottom: 4em;
}

#analyst .exception-notification-row h2 {
  color: white;
  padding-top: 0;
  margin-top: 0;
}

#analyst .exception-notification-row p {
  color: white;
}

#analyst .analyst-signup-row {
  background-color: #0096b2;
  padding-bottom: 3em;
}

#analyst .analyst-signup-row h2 {
  padding-top: 0;
  margin-top: 1em;
  color: white;
}

#analyst .analyst-signup {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3em;
}

#analyst .code-coverage-row {
  margin-top: 1.5em;
}

#analyst .last-call-row {
  padding-top: 0;
  padding-bottom: 4em;
  margin-top: 2rem;
}

#analyst .last-call-row h2 {
  padding-top: 0;
}
