---
import { getCollection } from "astro:content";
import SiteLayout from "@/layouts/SiteLayout.astro";
import DocList from "@/components/DocList.astro";
---

<SiteLayout title="Rubinius - Docs">
  <main
      class="grid grid-cols-1 sm:grid-cols-[1fr_3fr_1fr] gap-4 [&>*]:min-w-0 [&>*]:[overflow-wrap:anywhere]">
      <DocList />
  </main>
</SiteLayout>
