---
import { getCollection } from 'astro:content';
import { compareByDateThenOrder } from '@/lib/dates';

const posts = await getCollection('blog', ({ data }) => data.published !== false);
const sorted = posts.sort((a, b) => compareByDateThenOrder(a.data, b.data));
---

<html lang="en">
  <head><title>Blog</title></head>
  <body class="prose prose-invert max-w-3xl mx-auto p-6">
    <h1>Blog</h1>
    <ul class="not-prose space-y-4">
      {sorted.map((post) => (
        <li>
          <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </body>
</html>
