---
import SiteLayout from '@/layouts/SiteLayout.astro';
import BlogList from "@/components/BlogList.astro";
---

<SiteLayout title="Vivarium - Blog">
  <main
    class="grid grid-cols-[1fr_3fr] gap-4 [&>*]:min-w-0 [&>*]:[overflow-wrap:anywhere]"
  >
    <aside class="hidden lg:block">
      <div class="sticky top-20 shrink-0 min-w-0 overflow-wrap:anywhere pe-2">
        <BlogList activeId="" />
      </div>
    </aside>
    <section>

    </section>
  </main>
</SiteLayout>
