<div class="row">
  <div class="col-md-12">
    <h2 id="code-of-conduct">Code of Conduct</h2>

    <p>The Rubinius project commits to being inclusive to the largest number of participants, with the most varied and diverse backgrounds possible. As such, we are committed to providing a friendly, safe and welcoming environment for all, regardless of gender, sexual orientation, ability, ethnicity, socioeconomic status, religion, or non-religion.</p>

    <p>The code of conduct outlines our expectations for all those who participate in our community, online or in person, as well as the consequences for unacceptable behavior.</p>

    <p>We invite all those who participate in Rubinius project activities to help us create safe and positive experiences for everyone.</p>

    <p>Read the full <a href="https://book.rubinius.com/manuscript/code_of_conduct.html">code of conduct</a>.</p>
  </div>
</div>
