---
import ThemeSwitch from "@/components/ThemeSwitch.astro";
---

<header class="flex items-center justify-between h-14">
  <div class="text-sm font-semibold tracking-tight">
    Rubinius
  </div>
  <nav class="hidden md:flex gap-4 text-sm text-slate-200/80 items-end">
    <a href="/" class="text-black dark:text-white">Home</a>
    <a href="/blog" class="text-black dark:text-white">Blog</a>
    <a href="/docs" class="text-black dark:text-white">Docs</a>
    <ThemeSwitch />
  </nav>
</header>
