---
import SocialIcons from "@/components/SocialIcons.astro";
import ThemeSwitch from "@/components/ThemeSwitch.astro";
---

<header class="flex items-center justify-between h-14">
  <div class="text-sm font-semibold tracking-tight">
    <a href="/"><img src="/r-logo-black-on-white.png" width=40 height=40 class="rounded-sm" /></a>
  </div>
  <nav class="hidden md:flex gap-4 text-sm items-end">
    <a href="/blog/">Blog</a>
    <a href="/docs/">Docs</a>

    <SocialIcons />
    <ThemeSwitch />
  </nav>
</header>
