---
import Analytics from "@/components/Analytics.astro";
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
    <Analytics />
  </head>
  <body class="min-h-screen bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-50">
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>

